#projects
  h2
    font-weight: 600
    color: var(--lightest-slate)
    line-height: 1.1
    margin: 0px

  .project-container
    max-width: 1000px
    margin: 50px auto

  .project
    text-align: right

    margin-bottom: 90px
    display: grid
    grid-gap: 10px
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(6, 1fr)
    align-items: center

  .project-content
    position: relative
    grid-column: 1 / -1
    grid-row: 3 / -1
    z-index: 1
    background-color: rgba(10, 25, 47, 0.8)
    backdrop-filter: blur(10px)
    box-shadow: 0 10px 30px -10px var(--navy-shadow)
    padding: 20px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

    @media screen and (min-width: 768px)
      box-shadow: none
      border-top-left-radius: 10px
      grid-row: 3 / -1
      grid-column: 3 / -1

    @media screen and (min-width: 1200px)
      grid-row: 1 / -1
      grid-column: 6 / -1
      border-top-right-radius: 10px

    .project-label
      color: #64ffda
      font-family: monospace

    .project-title
      font-size: 1.5rem
      margin-bottom: 10px
      color: #eee

    .project-details
      font-size: 17px
      line-height: 1.5
      color: #aaa

      .project-description
        margin: 0

        ul
          display: flex
          margin-bottom: 0
          padding-left: 15px

        li
          margin-right: 30px
          color: #aaa
          font-family: monospace

  .project-img
    position: relative
    z-index: 0
    // background-color: #64ffda
    grid-column: 1 / -1
    grid-row: 1 / -1

    @media screen and (max-width: 768px)
      height: 100%

    @media screen and (min-width: 768px)
      grid-row: 1 / -1
      grid-column: 1 /-1

    @media screen and (min-width: 1200px)
      grid-row: 1 / -1
      grid-column: 1 / 8

    img
      border-radius: 2px
      position: relative
      mix-blend-mode: multiply
      border-radius: 10px
      border-top-left-radius: 10px
      border-top-right-radius: 10px

      // @media screen and (max-width: 768px)
      //   object-fit: cover
      //   width: auto
      //   height: 100%

  .project-rtl
    .project-content
      text-align: left
      @media screen and (min-width: 768px)
        border-top-left-radius: 0px
        border-top-right-radius: 10px
        grid-row: 3 / -1
        grid-column: 1 / 11

      @media screen and (min-width: 1200px)
        grid-row: 1 / -1
        grid-column: 1 / 8
        border-top-right-radius: 10px
        border-top-left-radius: 10px

    .project-img

      @media screen and (min-width: 1200px)
        grid-row: 1 / -1
        grid-column: 6 / -1
